{% extends 'base.html' %}
{% block content %}
<div class="container">
	{% for motorcycle in motorcycles %}
		<div class="card">
			<div class="image-box">
				<img src="{{ motorcycle.image_link }}" alt="{{ motorcycle.name }}" srcset="" />
			</div>
			<h3>{{motorcycle.brand}} {{motorcycle.model}}</h3>
			<p class="description">
				{{motorcycle.description}}
			</p>
			<a href="/motorcycles/remove?id=@bike.Id">
                <button>DELETE</button>
			</a>
		</div>
	{% endfor %}
</div>
{% endblock %}